<form>
    <img src="assets/clienteH.png">

    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Nome" class="form-control">

    <input type="button" value="Cadastrar" *ngIf="btnCadastrar" class="btn btn-success">
    <input type="button" value="Alterar"  *ngIf="!btnCadastrar" class="btn btn-warning">
    <input type="button" value="Deletar" *ngIf="!btnCadastrar" class="btn btn-danger">
    <input type="button" value="Cancelar" *ngIf="!btnCadastrar" class="btn btn-secondary">


</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
    <tbody></tbody>
</table>
