<form>
    <img src="assets/clienteH.png">

    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Nome" class="form-control">
    <input type="text" placeholder="Nome" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-success">
    <input type="button" value="Alterar" class="btn btn-warning">
    <input type="button" value="Deletar" class="btn btn-danger">
    <input type="button" value="Cancelar" class="btn btn-secondary">


</form>
